body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel {
    flex: 1.1;
    background-image: url('images/background.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-panel img {
    width: 90%;
    height: auto;
    border-radius: 12px;
}

.right-panel {
    flex: 1.4;
    padding: 60px;
}

.steps-nav {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.step {
    padding: 10px 18px;
    border-radius: 12px;
    background: #f4f4f4;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.step.active {
    background: #ebf0ff;
    color: #2563ff;
}

.step span {
    color: #555;
    font-weight: 500;
}

.step-count {
    color: gray;
    margin-bottom: 5px;
}
.message textarea{
    width: 700px;
    height: 300px;
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: gray;
}
.next-btn {
    position: relative;
    margin-top: 40px;
    background: #2563ff;
    border: none;
    padding: 14px 30px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    right: 7%;
}

.next-btn:hover {
    background: #1746c7;
}
.next-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
#image4{
    display: none;
    position: absolute;
    width: 650px;
    height: 700px;
    margin-top: 14.5%;
    margin-left: -1%;
    animation: shake 0.6s ease-in-out;
}
#image3{
    position: absolute;
    width: 650px;
    height: 700px;
    margin-top: 14.5%;
    margin-left: -1%;
    
}

textarea.errorarea{
    border-color: red;
    background-color: #ffecec;
}
.errorarea{
    border-color: none;
    color: red;
    font-size: 14px;
    margin-top: 5px;
    height: 18px;
}

@keyframes shake {
    0%{transform: translateX(0);}
    20%{transform: translateX(-20px);}
    40%{transform: translateX(20px);}
    60%{transform: translateX(-20px);}
    80%{transform: translateX(20px);}
    100%{transform: translateX(0);}
}
.result{
    display: none;
    color: red;
}