.thankyou{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:antiquewhite;
    display: flex;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid none;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 45%;
    margin-top: 20%;
    position: relative;
    animation: spin 3s;
    animation-direction: reverse;
    color:maroon;
}
.ball{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#b1{
    background-color: blue;
    border: none;
    z-index: 10;
    animation: ball1 4s;
}#b2{
    background-color: red;
    border: none;
    animation: ball2 4s;
}#b3{
    background-color: green;
    border: none;
    animation: ball3 4s;
}#b4{
    background-color: yellow;
    border: none;
    animation: ball4 4s;
}#b5{
    background-color: pink;
    border: none;
    animation: ball5 4s;
}#b6{
    background-color: chocolate;
    border: none;
    animation: ball6 4s;
}#b7{
    background-color: khaki;
    border: none;
    animation: ball7 4s;
}#b8{
    background-color: black;
    border: none;
    animation: ball8 4s;
}
.allballs{
    animation: rotate 4s;
    position: absolute;
    animation-direction: reverse;
}
@keyframes ball1 {
    0%  {transform: translate(-50%, -50%) translateY(0);}
    50% {transform: translate(-50%, -50%) translateY(-150px);}
    100%{transform: translate(-50%, -50%) translateY(0);opacity: 0.3;}
}

@keyframes ball2 {
    0%{transform: translate(-50%,-50%) translateY(0);}
    50%{transform: translate(-50%,-50%) translateY(150px);}
    100%{transform: translate(-50%,-50%) translateY(0px);opacity: 0.3;}
}
@keyframes ball3 {
    0%{transform: translate(-50%,-50%) translateX(0);}
    50%{transform: translate(-50%,-50%) translateX(150px);}
    100%{transform: translate(-50%,-50%) translateX(0px);opacity: 0.3}
}
@keyframes ball4 {
    0%{transform: translate(-50%,-50%) translateX(0);}
    50%{transform: translate(-50%,-50%) translateX(-150px);}
    100%{transform: translate(-50%,-50%) translateX(0px);opacity: 0.3;}
}
@keyframes ball5 {
    0%{transform: translate(-50%,-50%) translate(0);}
    50%{transform: translate(-50%,-50%) translate(125px,-100px);}
    100%{transform: translate(-50%,-50%) translate(0px);opacity: 0.3;}
}
@keyframes ball6 {
    0%{transform: translate(-50%,-50%) translate(0);}
    50%{transform: translate(-50%,-50%) translate(-125px,100px);}
    100%{transform: translate(-50%,-50%) translate(0px);opacity: 0.3;}
}
@keyframes ball7 {
    0%{transform: translate(-50%,-50%) translate(0);}
    50%{transform: translate(-50%,-50%) translate(-125px,-100px);}
    100%{transform: translate(-50%,-50%) translate(0px);opacity: 0.3;}
}
@keyframes ball8 {
    0%{transform: translate(-50%,-50%) translate(0);}
    50%{transform: translate(-50%,-50%) translate(125px,100px);}
    100%{transform: translate(-50%,-50%) translate(0px);opacity: 0.3;}
}
@keyframes rotate {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
@keyframes spin {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}