body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background: #ffffff;
}
label{
    margin-left: 5%;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
select{
    margin-left: 5%;
}
.container {
    display: flex;
    height: 100vh;
}
.title{
    margin-left: 5%;
}
.left-panel {
    flex: 1.1;
    background-image: url('images/background.png');
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-panel img {
    width: 90%;
    height: auto;
    border-radius: 12px;
}

.right-panel {
    flex: 1.4;
    padding: 60px;
}

.steps-nav {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.step {
    padding: 10px 18px;
    border-radius: 12px;
    background: #f4f4f4;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.step.active {
    background: #ebf0ff;
    color: #2563ff;
}

.step span {
    color: #555;
    font-weight: 500;
}

.step-count {
    color: gray;
    margin-bottom: 5px;
    margin-left: 5%;
}
.message textarea{
    width: 700px;
    height: 300px;
    border-radius: 20px;
    padding-top: 10px;
    padding-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: gray;
}
.next-btn {
    position: relative;
    margin-top: 40px;
    background: #2563ff;
    border: none;
    padding: 14px 30px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    right: 7%;
}
#nextbtn5:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
.options {
    width: 300px;       
    font-size: 18px;   
}

.options option {
    font-size: 18px;   
}
#image5{
    position: absolute;
    width: 700px;
    height: 700px;
    margin-top: 12%;
    margin-left: 5%;
    transform: rotate(20deg);
}
#image6{
    display: none;
    position: absolute;
    width: 300px;
    height: 500px;
    margin-top: 25%;
    margin-left: 20%;
}
#step4page{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}
#step4page.show{
    opacity: 1;
    pointer-events: auto;
}
.container.fadeOut{
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.fly{
    animation: fly 3s ease-in-out;
}
@keyframes fly {
    0%{transform: translate(0);}
    50%{transform: translate(500px,-250px) rotate(20deg);}
    100%{transform: translate(1000px,-500px) rotate(20deg);}

}